*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/2117697-3840x2160-desktop-4k-dark-wallpaper.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    width: 460px;
    backdrop-filter: blur(7px);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.089);
    border-radius: 20px;
    padding: 40px;
}

.container h1{
    font-size: 36px;
    text-align: center
}

.container .entrada{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.entrada input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.281);
    border-radius: 40px;
    font-size: 17px;
    padding: 20px 45px 20px 20px;
    color: white;
}

.entrada input::placeholder{
    color: rgba(255, 255, 255, 0.192);
}

.entrada img{
    position: absolute;
    right: 20px;
    top: 30%;
    font-size: 20px;
    height: 20px;
}

.container .lembrarEsqueci{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.lembrarEsqueci label input{
    accent-color: white;
    margin-right: 3px;
}

.lembrarEsqueci a{
    color: white;
    text-decoration: none;
}

.lembrarEsqueci a:hover{
    text-decoration: underline;
}

.container .btn{
    width: 100%;
    height: 45px;
    background: rgb(247, 247, 247);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: bold;
} 

.container .linkRegistro{
    font-size: 14, 5px;
    text-align: center;
    margin-top: 20px;
}

.linkRegistro a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.linkRegistro p a:hover{
    text-decoration: underline;
}